<p class="h1">Central de mensajes</p>
<p class="h2" id="compression">Porcentaje de Compresion: </p>
<p id="username">Usuario: </p>
<div id="chatContainer"></div>
<form action="" id="chatForm">
    <input type="text" id="messageChat"/>
    <button type="submit">Enviar</button>
</form>