<div class="m-4 contentContainer">
    <p class="h1 m-4">Central de mensajes</p>
    <p class="h2 mx-4 my-2" id="compression">Porcentaje de Compresion: </p>
    <p class="h5 m-4" id="username">Usuario: <%= user %> </p>
    <div class="m-4">
        <div id="chatContainer"></div>
        <form action="" id="chatForm">
            <input type="text" id="messageChat"/>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
