<div class="contentContainer greeting m-4">
    <p class="h1 m-4">Bienvenido <%= user %> </p>
    <button type="button" class="btn btn-warning m-4" onclick="location.href='/logout'">Logout</button>
</div>